* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
    background-color: #1b1b1b;
    color: #ffffff;
    line-height: 1.6;
    background-image: url('fondo1.png');
    background-size: cover; /* Ajusta la imagen para que cubra todo el fondo */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-attachment: fixed; /* Fija la imagen de fondo */
}

/* Estilos del header */
.header {
    background-color: #131313; /* Tono oscuro de gris */
    color: white;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid #d40000;
    box-shadow: 0 5px 20px #d40000; /* Sombra roja debajo del header */
}

.header-content {
    display: flex;
    align-items: center;
    gap: 150px; /* Espacio entre logo y elementos del menú */
}

h1 {
    font-size: 50px;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 30px; /* Espacio entre elementos del menú */
}

.nav a {
    text-decoration: none;
    color: #d40000;
    font-size: 35px; /* Tamaño de letra de los enlaces */
    transition: color 0.3s;
}

.nav a:hover {
    color: #cccccc;
}

/* Formulario - Contenedor */
.form-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #1e1e1e;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 400px;
    text-align: left;
    z-index: -1000;
}

/* Título del formulario */
.form-container h1 {
    color: #ff0000; /* Establece el color del texto del título */
    text-align: center; /* Centra el título */
    margin-bottom: 20px; /* Añade un margen inferior para separar del siguiente elemento */
}

/* Grupos de formulario */
.form-group {
    margin-bottom: 15px; /* Añade un margen inferior a cada grupo de formulario */
}

.form-group label {
    display: block; /* Hace que las etiquetas ocupen el 100% del ancho disponible */
    margin-bottom: 5px; /* Añade un margen inferior a las etiquetas */ 
}

.form-group input,
.form-group textarea {
    font-family: "Rubik", serif;
    font-weight: 400;
    font-style: normal;
    width: 100%; /* Hace que los inputs y text areas ocupen el 100% del ancho disponible */
    padding: 10px; /* Añade espacio interno a los inputs y textareas */
    border: 1px solid #ff0000; /* Establece un borde rojo en los inputs y textareas */
    border-radius: 11px; /* Redondea las esquinas de los inputs y textareas */
    background-color: #2a2a2a; /* Establece el color de fondo de los inputs y textareas */
    color: #ffffff; /* Establece el color del texto de los inputs y textareas */
}

.form-group textarea {
    resize: none; /* Evita que el textarea sea redimensionable */
    height: 100px; /* Establece una altura fija para el textarea */
}

.form-group input:focus,
.form-group textarea:focus {
    outline: none; /* Elimina el contorno azul predeterminado al enfocar */
    border-color: #ff4d4d; /* Cambia el color del borde al enfocar */
}

/* Botón de formulario */
.form-button {
    display: flex; /* Utiliza flexbox para organizar el botón */
    justify-content: center; /* Centra el botón horizontalmente */
}

.form-button button {
    background-color: #ff0000; /* Establece el color de fondo del botón */
    color: #ffffff; /* Establece el color del texto del botón */
    border: none; /* Elimina el borde del botón */
    padding: 10px 20px; /* Agrega espacio interno al botón */
    border-radius: 5px; /* Redondea las esquinas del botón */
    cursor: pointer; /* Cambia el cursor al pasar por encima del botón */
    font-size: 16px; /* Establece el tamaño de fuente del botón */
    transition: background-color 0.3s ease; /* Añade una transición suave al cambiar el color de fondo del botón */
}

.form-button button:hover {
    background-color: #ff4d4d; /* Cambia el color de fondo del botón al pasar el cursor por encima */
}

p {
    font-family: "Rubik", serif;
    font-weight: 400;
    font-style: normal;
    color: #bbbbbb;
}

/* Footer styles */

/* Estilos para el elemento footer */
footer {
    position: fixed; /* Fija el footer en su posición */
    bottom: 0; /* Asegura que está pegado a la parte inferior */
    left: 0; /* Asegura que está alineado a la izquierda */
    width: 100%; /* Hace que el footer abarque todo el ancho de la pantalla */
    z-index: 1000; /* Asegura que el footer esté por encima de otros elementos */
    background-color: #0a0a0a; /* Color de fondo del footer */
    padding: 20px 0; /* Espaciado interno arriba y abajo */
    display: flex; /* Uso de flexbox */
    justify-content: center; /* Centra horizontalmente los elementos */
    align-items: center; /* Centra verticalmente los elementos */
    text-align: center; /* Centra el texto dentro del footer */
    margin-top: auto; /* Empuja el footer al final de la página */
}

/* Estilos para el contenido del footer */
.footer-content {
    max-width: 1200px; /* Ancho máximo del contenido del footer */
    margin: 0 auto; /* Centra horizontalmente el contenido del footer */
    padding: 0 20px; /* Espaciado interno a los lados */
}

/* Estilos para los párrafos dentro del contenido del footer */
.footer-content p {
    margin-bottom: 30px; /* Espacio inferior del párrafo */
    font-size: 14px; /* Tamaño de fuente del párrafo */
}

/* Estilos para la lista de enlaces sociales */
.social-links {
    list-style: none; /* Quita el estilo de lista por defecto */
    display: flex; /* Usa flexbox para los elementos hijos */
    justify-content: center; /* Centra los elementos hijos horizontalmente */
    margin-top: 10px; /* Espacio superior de la lista */
}

/* Estilos para los elementos de la lista de enlaces sociales */
.social-links li {
    margin: 0 15px; /* Espaciado horizontal entre los elementos de la lista */
}

/* Estilos para los enlaces dentro de los elementos de la lista */
.social-links li a {
    text-decoration: none; /* Quita el subrayado de los enlaces */
    color: #555555; /* Color del texto de los enlaces */
    font-weight: bold; /* Hace el texto de los enlaces en negrita */
    font-size: 16px; /* Tamaño de fuente de los enlaces */
    transition: color 0.3s; /* Transición suave para el cambio de color */
}

/* Estilos para los enlaces cuando el cursor pasa sobre ellos */
.social-links li a:hover {
    color: #ffffff; /* Cambia el color del texto al pasar el cursor */
}

/* Estilos para los iconos dentro de los elementos de la lista */
.social-links li i {
    margin-right: 8px; /* Espacio a la derecha de los iconos */
}

/* Estilos para los iconos dentro de los enlaces */
.social-links li a i {
    font-size: 18px; /* Tamaño de fuente de los iconos */
}
